{
    log {
		output file /var/log/caddy/caddy.log {
			roll_size 1gb
			roll_uncompressed
		}
		level info
	}

    servers {
        metrics
    }
}

:2019 {
    log
    encode gzip

    @metrics {
		path /metrics
	}

	handle @metrics {
        metrics
	}
}

:2020 {
    log
    encode gzip
    reverse_proxy http://remotely:5000 {
    }
}

:2021 {
    log
    encode gzip
    reverse_proxy http://prometheus:9090 {
    }
}

:2022 {
    log
    encode gzip
    reverse_proxy http://grafana:3000 {
    }
}

:2023 {
    log
    encode gzip
    reverse_proxy http://moongladepure:80 {
    }
}

:2024 {
    log
    encode gzip
    reverse_proxy http://jellyfin:8096 {
    }
}

:2025 {
    log
    encode gzip
    reverse_proxy http://nextcloud:80 {
    }

    redir /.well-known/carddav /remote.php/carddav 301
    redir /.well-known/caldav /remote.php/caldav 301
}

